body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles from demo.css */
.centered {
  display: block;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.hide {
  display: none !important;
}

.no-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;
  background-color: #000;
  color: #fff;
}

.no-video-icon {
  font-size: 48px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.no-video-text {
  font-size: 16px;
  opacity: 0.7;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.rounded {
  border-radius: 4px;
}

.card-body {
  position: relative;
  min-height: 200px;
}
