.card-body {
  position: relative;
  min-height: 200px;
  background-color: #000;
}

.card-body video {
  width: 100%;
  height: auto;
  display: block;
}

.card-body audio {
  display: none;
}

.card-header {
  position: relative;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.no-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;
  background-color: #000;
  color: #fff;
}

.no-video-icon {
  font-size: 48px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.no-video-text {
  font-size: 16px;
  opacity: 0.7;
}

.badge {
  margin-left: 8px;
}
